<html>
    <head>
        <title>Maintenance Form</title>
    </head>
    <body>
        <div class = 'MaintenanceForm'>
            <form method='POST' action="">
                {{ form.hidden_tag() }}
                {{ form.make.label }} {{ form.make }}
                <br>
                {{ form.model.label }} {{ form.model }}
                <br>
                {{ form.year.label }} {{ form.year }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>