<html>
    <head>
        <title>Update Form</title>
    </head>
    <body>
        <p><h1>Update Form</h1></p>
        <div class="form">
            <form method="POST" action="">
                {{form.hidden_tag() }}
                {{ form.forename.label }} {{ form.forename }}
                <br>
                {{ form.surname.label }} {{ form.surname }}
                <br>
                {{ form.email.label }} {{ form.email }}
                <br> 
                {{ form.number.label }} {{ form.number }}
                <br>
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>